.nav-div{
    display: flex;
    justify-content: space-evenly
}


#Contain{
    margin:0 250px;
}

#Contain ul li a{


    margin-right: 10px;
    font-size: 26px;
    font-weight: 400;
    font-family: Poppins;
    color: #707070;
}

.nav-button{
    width: 240px;
    padding:5px 50px ;
    background-color: #B68C5A;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: white;


}


.banner{
    position: relative;
}
.banner-title{
    position: absolute;
    color: aliceblue;
    width: 668px;
    top:15%;
    left: 20%;
}

.banner-title h3 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    
}


.banner-title p{
    text-align: center;
}

.banner-title form {
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,401px );
}

.card{
    width: 401px;
    height: 499px;
}

.card > img {
    width: 71px;
    height: 72px;
    margin: 25px auto;
    
   
}
.card-details{
    width:258px;
    height: 196px;
    margin:0 auto;
}

 .card-description{
    width: 258px;
    height: 130px;
    text-align: center;
 }

 .card .frame{
    width: 40px;
    height: 40px;
    margin-top: 0;
 }

 .card-title{
    color: #414040;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
 }

 .middle{
    background-color: #E7E7E7;
 }